<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<link rel="stylesheet" href="/angjs/includes/template.css">
<body>


<script src="/angjs/includes/controller.js"></script>


<div ng-app="toDoList" ng-cloak ng-controller="myCtrl" class="list-div" style="max-width:900px;">
  <header class="header-light-grey">
    <h3 class="h3-padding">To Do List</h3>
  </header>
  <ul class="list-ul">
    <li ng-repeat="x in item" class="li-padding">{{x}} <span style="margin-left:50px">{{ date | date : 'dd-MM-yy'}}</span><span ng-click="removeItem($index)" style="cursor:pointer;" class="right">x</span></li>
  </ul>
  <div class="container header-light-grey li-padding">
    <div class="list-row" style="margin-top:16px!important">
      <div class="list-col s10">
        <input placeholder="To Do List" ng-model="addMe" class="list-input">
      </div>
      <div class="list-col s2">
        <button ng-click="addItem()" class="btn-success">ADD</button>
      </div>
    </div>
    <p class="text-error">{{errortext}}</p>
  </div>
</div>
</body>
</html>
